<!-- Contenedor -->
<div class="container mx-auto">
  <div class="bg-white rounded-lg shadow-lg mt-4">
    <div class="p-11">
      <!-- CONTENIDO -->
      <!-- Nuestro título -->
      <h3 class="text-3xl text-center mb-4">Agregar Prestador Turistico</h3>
      <!-- Nuestro Formulario -->
      <form class="mt-10">
        <!-- Campos de Inputs -->
        <div class="flex mb-2"> <!-- Fila 1 -->
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Nombre">
          </div>
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="RNT-RM">
          </div>
        </div>
        <div class="flex mb-2"> <!-- Fila 2 -->
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Descripción">
          </div>
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Servicios">
          </div>
        </div>
        <div class="flex mb-2"> <!-- Fila 3 -->
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Zona">
          </div>
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Municipio">
          </div>
        </div>
        <div class="flex mb-2"> <!-- Fila 4 -->
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Dirección">
          </div>
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Indicaciones de Acceso">
          </div>
        </div>
        <div class="flex mb-2"> <!-- Fila 5 -->
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="URL Google Maps">
          </div>
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Latitud">
          </div>
        </div>
        <div class="flex mb-2"> <!-- Fila 6 -->
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Longitud">
          </div>
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Whatsapp">
          </div>
        </div>
        <div class="flex mb-2"> <!-- Fila 7 -->
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Celular 1">
          </div>
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Celular 2">
          </div>
        </div>
        <div class="flex mb-2"> <!-- Fila 8 -->
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Facebook">
          </div>
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Instagram">
          </div>
        </div>
        <div class="flex mb-2"> <!-- Fila 9 -->
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Pag Web">
          </div>
          <div class="flex-1">
            <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Correo">
          </div>
        </div>
        <!-- Último Input -->
        <input type="text" class="w-full px-3 py-2 border rounded-lg" placeholder="Horarios de Atención">
        <!-- Botónes -->
        <div class="flex justify-center mt-10">
          <div class="space-x-4">
            <button type="button" routerLink="/dashboard-admin/pagina-inicio/list-prestadores-turisticos" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Volver
            </button>
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
              Agregar
            </button>
          </div>
        </div>
      </form>
      <!-- Fin Formulario -->
    </div>
  </div>
</div>
