
<div class="flex h-screen bg-gray-200">
  <!-- Sidebar -->
  <aside class="bg-indigo-600 w-64 min-h-screen p-5">
    <div class="text-white text-2xl font-semibold">Secciones</div>
    <ul class="mt-6">
        <li class="mb-3">
            <span class="text-white hover:text-indigo-200" routerLink="/list-prestadores-turisticos">Prestadores Turísticos</span>
        </li>
        <li class="mb-3">
            <a href="#" class="text-white hover:text-indigo-200">Atractivos Turísticos</a>
        </li>
        <li class="mb-3">
            <a href="#" class="text-white hover:text-indigo-200">Municipios</a>
        </li>
        <li class="mb-3">
            <a href="#" class="text-white hover:text-indigo-200">Rutas Turísticas</a>
        </li>
    </ul>
  </aside>
</div>
