<p>listado-prestador works!FUNCIONAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  <!-- Ruteo entre hermanos -->
  <a routerLink="/dashboard-admin/pagina-inicio/agregar-prestadores-turisticos">Agregar</a>
</button>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  <!-- Ruteo entre hermanos -->
  <a routerLink="/dashboard-admin/pagina-inicio/editar-prestadores-turisticos">Editar</a>
</button>
