<!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> -->
<!-- Ruteo entre hermanos -->
<!-- <a routerLink="/dashboard-admin/pagina-inicio/agregar-prestadores-turisticos">Agregar</a> -->
<!-- </button> -->
<!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> -->
<!-- Ruteo entre hermanos -->
<!-- <a routerLink="/dashboard-admin/pagina-inicio/editar-prestadores-turisticos">Editar</a> -->
<!-- </button> -->

<!-- Contenedor -->
<div class="container mx-auto">
  <div class="bg-white rounded-lg shadow-lg mt-4">
    <div class="p-4">
      <!-- CONTENIDO -->
      <!-- Nuestro título -->
      <h3 class="text-3xl text-center mb-4">Listado Prestadores Turisticos</h3>
      <!-- Botón Para llevarnos al componente de Agregar Prestador -->
      <div class="flex justify-end">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" routerLink="/dashboard-admin/pagina-inicio/agregar-prestadores-turisticos">Agregar</button>
      </div>
      <!--Nuestra Tabla-->
      <table class="min-w-full mt-4">

        <thead>
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Nombre
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Servicios
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Ciudad
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Celular
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Acciones
            </th>
          </tr>
        </thead>

        <tbody class="bg-white divide-y divide-gray-200">
          <!-- Elementos Renderizados desde la BD -->
          <tr class="bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              Valhalla Bar
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              Restaurante, comidas, Piscina, Cerbeza
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              Garzon
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              3172759904
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              <!-- Para los íconos de Acciones - FontAwesome -->
              <i class="fa-solid fa-pen-to-square fa-lg text-blue-500 mr-10 cursor-pointer"></i>
              <i class="fa-solid fa-trash-can fa-lg text-red-500 cursor-pointer"></i>
            </td>
          </tr>

          <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              Valhalla Bar
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              Restaurante, comidas, Piscina, Cerbeza
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              Garzon
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              3172759904
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              <!-- Para los íconos de Acciones - FontAwesome -->
              <i class="fa-solid fa-pen-to-square fa-lg text-blue-500 mr-10 cursor-pointer"></i>
              <i class="fa-solid fa-trash-can fa-lg text-red-500 cursor-pointer"></i>
            </td>
          </tr>

          <tr class="bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              Valhalla Bar
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              Restaurante, comidas, Piscina, Cerbeza
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              Garzon
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              3172759904
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              <!-- Para los íconos de Acciones - FontAwesome -->
              <i class="fa-solid fa-pen-to-square fa-lg text-blue-500 mr-10 cursor-pointer"></i>
              <i class="fa-solid fa-trash-can fa-lg text-red-500 cursor-pointer"></i>
            </td>
          </tr>

        </tbody>

      </table>

    </div>
  </div>
</div>
